*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	border: none;
	text-decoration: none;
	
}
$dark-color: #171717;
$react-blue: #61dafb;
$bg-white:  #f4f4f4;
.container {
	max-width: 1170px;
	margin: 0 auto;
}

.btn {
	padding: 10px 17px;
	border: 1px solid var($dark-color);
	background: $dark-color;
	color: $bg-white;
	margin: 1rem 0;
	font-size: 20px;
	cursor:pointer;
	&:hover{
		color: $react-blue;
	}
}
.btn-block {
	display: block;
	width: 100%;
}




.navbar{
	padding: 1rem;
	background: $dark-color;
	.navbar__nav{
		display: flex;
		justify-content:space-between;
		align-items: center;
		.navbar__brand a{
			font-size: 1.4rem;
			color: $bg-white;
			text-decoration: none;
			&:hover{
				color: $react-blue;
			}
		}
		.nav__links{
			display: flex;
			justify-content: center;
			align-items: center;
			list-style: none;

			.nav__link a{
				font-size: 1rem;
				color: $bg-white;
				padding: .5rem 1rem;
				&:hover{
					color: $react-blue;
					border-bottom: 1px solid $react-blue ;
				}
			}
		}
	}
	
}

.searchbar{
	width: 100%;
	margin: 2rem 0;
	.searchbar__form > input{
		width: 100%;
		padding: 10px 17px;
		border: 1px solid $dark-color;
		background: $bg-white;
		color: $dark-color;
		font-size: 20px;
		outline-width: 0ch;
		&:focus{
			border: 1px solid $react-blue;
			box-shadow: 0 0 1px 1px rgba(60, 148, 139, 0.5);

		}
	}
}

.alert{
	border: 1px solid $dark-color;
	padding: 10px 17px;
	font-size: 20px;
	margin: 1rem 0;
}

.alert-warning{
	background: #f8ffc4;
	border: 1px solid #ffee00;
}

.alert-danger{
	background: #ffc4c4;
	border: 1px solid #ff0000;
}

.alert-warning{
	background: #d7eafe;
	border: 1px solid #0523b7;
}